.filter b{
    color: var(--dark-purple);
}

h2{
    text-align: center;
    margin: 1em;
}

.filter {
    margin: 2em;
    border-radius: 0.5em;
    background-color: var(--yellow);
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-purple);
}

.filter h2{
    margin: 1em 0 0 0;
}

.filter label {
    font-size: 1.4em;
    font-weight: 500;
}

.filter div {
    margin: 1em;
    text-align: center; /* Ensure the content inside the div is centered */
}

.filter button {
    border-radius: 0.5em;
    width: 100%;
    padding: 1em 7em;
    margin: 0 auto;
    background-color: var(--dark-purple);
    color: var(--light-one);
    margin: 0 auto; /* This will center the button horizontally */
    display: block; /* Ensure the button takes the full width of its container */
}


.filter input, .filter select{
    padding: 0.6em;
    margin: 0.2em 0.2em;
}