img {
    width: 15em;
    height: 15em;
    object-fit: contain;
    margin: 1em;
    border: var(--black) 0.3em solid;
    border-radius: 0.5em;
}

.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    z-index: 1000;
}
